# Comprehensions
- **Comprehensions**; bizlere _for döngüsü_ ile iki üç satırla tanımlayabileceğimiz listeleri **tek satırda** tanımlama imkanı sunar.
---
### List Comprehension

- elimizde maaş değerlerini barındıran bir listemiz olsun.

In [8]:
salaries = [1000, 2000, 3000, 4000, 5000]

- bu maaş değerlerine yüzde 20 zam yapmak için bir fonksiyon tanımlayalım.

In [2]:
def new_salary(x):
    return x * 20 / 100 + x

- bu fonksiyonu for döngüsü ile maaşlara uygulayalım.

In [3]:
for salary in salaries:
    print(new_salary(salary))

1200.0
2400.0
3600.0
4800.0
6000.0

- bu yaptığımız zamlı maaşları bir listede tutmak istiyorsak boş bir liste tanımlayalım.
- _append_ metodu ile for döngüsü içerisinde boş listeye ekleyelim.

In [4]:
null_list = []

for salary in salaries:
    null_list.append(new_salary(salary))

In [5]:
null_list

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

- elimizde bulunan maaşların belirlenen şartlara göre zam almasını istiyorsak şart bloklarımızı ekleyelim.

In [6]:
null_list2 = []

for salary in salaries:
    if salary > 3000:
        null_list2.append(new_salary(salary))
    else:
        null_list2.append(new_salary(salary * 2))

In [7]:
null_list2

[2400.0, 4800.0, 7200.0, 4800.0, 6000.0]

- görüldüğü üzere uzun bir zamanımızı aldı ve script içerisinde birden fazla satır kullanmış olduk. şimdi bu işlemleri kısa yoldan **_list comprehensions_** ile yapalım.

In [9]:
[new_salary(salary * 2) if salary < 3000 else new_salary(salary) for salary in salaries]

[2400.0, 4800.0, 3600.0, 4800.0, 6000.0]

- tek satırda isteklerimizi gerçekleştirmiş olduk. şimdi adım adım neler yaptık onlara bakalım.

In [10]:
[salary * 2 for salary in salaries]

[2000, 4000, 6000, 8000, 10000]

- _salaries_ listesi içerisinde gezerek maaşlara bir işlem uyguladık.

In [11]:
[salary * 2 for salary in salaries if salary < 3000]

[2000, 4000]

- bir şart ekledik. maaşı 3000'den küçük olanlara işlem uyguladık.
- burada dikkat etmemiz nokta _comprehensions_ yapısı. 
- tek bir şart ile işlem gerçekleştireceksek **_for_** yapısı **ortada**, **_if_** yapısı **sağ** tarafta olması gerekiyor.

In [12]:
[salary * 2 if salary < 3000 else salary * 0 for salary in salaries]

[2000, 4000, 0, 0, 0]

- ikinci bir şart eklediğimizde **_for_** yapısı en **sağ** tarafta olması gerekiyor.

In [13]:
[new_salary(salary * 2) if salary < 3000 else new_salary(salary * 0.2) for salary in salaries]

[2400.0, 4800.0, 720.0, 960.0, 1200.0]

In [14]:
students = ["John", "Mark", "Venessa", "Mariam"]
students_no = ["John", "Venessa"]

In [15]:
[student.lower() if student in students_no else student.upper() for student in students]

['john', 'MARK', 'venessa', 'MARIAM']

In [16]:
[student.upper() if student not in students_no else student.lower() for student in students]

['john', 'MARK', 'venessa', 'MARIAM']

### Dictionary Comprehensions

In [17]:
dictionary = {'a': 1,
              'b': 2,
              'c': 3,
              'd': 4}

In [18]:
dictionary.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [19]:
dictionary.values()

dict_values([1, 2, 3, 4])

In [20]:
dictionary.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

- burada uygulamak istediğimiz işlem, _dictionary_ yapısındaki keys _sabit_ kalacak, values _karesi_ alınacak.

In [21]:
{k: v ** 2 for (k, v) in dictionary.items()}

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [22]:
{k.upper(): v for (k, v) in dictionary.items()}

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [23]:
{k.upper(): v * 2 for (k, v) in dictionary.items()}

{'A': 2, 'B': 4, 'C': 6, 'D': 8}

#### Uygulama - Mülakat
---
- **Amaç**; çift sayıların karesi alınarak bir sözlüğe eklenmek istenmektedir.
- **keys** orjinal değerler, **values** ise değiştirilmiş değerler olacak.

In [24]:
numbers = range(10)
new_dict = {}

for n in numbers:
    if n % 2 == 0:
        new_dict[n] = n ** 2
        
new_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [25]:
{n: n ** 2 for n in numbers if n % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

#### List & Dict Comprehensions Uygulamalar
---
- Bir Veri Setindeki Değişken İsimlerini Değiştirmek.
- **before**;
    - ['total', 'speeding', 'alcohol', 'not_distracted','no_previous', 'ins_premium', 'ins_losses', 'abbrev']
- **after**;
    - ['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED','NO_PREVIOUS', 'INS_PREMIUM', 'INS_LOSSES', 'ABBREV']

In [26]:
import seaborn as sns 

df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [27]:
for col in df.columns:
    print(col.upper())

TOTAL
SPEEDING
ALCOHOL
NOT_DISTRACTED
NO_PREVIOUS
INS_PREMIUM
INS_LOSSES
ABBREV

In [28]:
A = []

for col in df.columns:
    A.append(col.upper())
    
df.columns = A

In [29]:
df.columns

Index(['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS',
       'INS_PREMIUM', 'INS_LOSSES', 'ABBREV'],
      dtype='object')

- istediğimiz işlemi uzun yol, klasik yöntemle gerçekleştirdik. şimdi comprehensions yapısı ile gerçekleştirelim.

In [30]:
df = sns.load_dataset("car_crashes")

In [31]:
df.columns = [col.upper() for col in df.columns]

In [32]:
df.columns

Index(['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS',
       'INS_PREMIUM', 'INS_LOSSES', 'ABBREV'],
      dtype='object')

- İsminde _"INS"_ olan değişkenlerin başına _FLAG_, _"INS"_ olmayan değişkenlerin başına _NO_FLAG_ eklemek istiyoruz.

In [33]:
[col for col in df.columns if "INS" in col]

['INS_PREMIUM', 'INS_LOSSES']

In [34]:
["FLAG_" + col for col in df.columns if "INS" in col]

['FLAG_INS_PREMIUM', 'FLAG_INS_LOSSES']

In [35]:
["FLAG_" + col if "INS" in col else "NO_FLAG_" + col for col in df.columns]

['NO_FLAG_TOTAL',
 'NO_FLAG_SPEEDING',
 'NO_FLAG_ALCOHOL',
 'NO_FLAG_NOT_DISTRACTED',
 'NO_FLAG_NO_PREVIOUS',
 'FLAG_INS_PREMIUM',
 'FLAG_INS_LOSSES',
 'NO_FLAG_ABBREV']

---
- Amaç key'i string, value'su aşağıdaki gibi bir liste olan sözlük oluşturmak.
- Sadece sayısal değişkenler için yapmak istiyoruz.


- **Output**;

- {'total': ['mean', 'min', 'max', 'var'],
- 'speeding': ['mean', 'min', 'max', 'var'],
- 'alcohol': ['mean', 'min', 'max', 'var'],
- 'not_distracted': ['mean', 'min', 'max', 'var'],
- 'no_previous': ['mean', 'min', 'max', 'var'],
- 'ins_premium': ['mean', 'min', 'max', 'var'],
- 'ins_losses': ['mean', 'min', 'max', 'var']}

In [36]:
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [37]:
num_cols = [col for col in df.columns if df[col].dtype != "O"]

In [38]:
num_cols

['total',
 'speeding',
 'alcohol',
 'not_distracted',
 'no_previous',
 'ins_premium',
 'ins_losses']

In [39]:
n_dict = {}
agg_list = ["mean", "max", "min", "sum"]

In [40]:
for col in df.columns:
    n_dict[col] = agg_list

In [41]:
n_dict

{'total': ['mean', 'max', 'min', 'sum'],
 'speeding': ['mean', 'max', 'min', 'sum'],
 'alcohol': ['mean', 'max', 'min', 'sum'],
 'not_distracted': ['mean', 'max', 'min', 'sum'],
 'no_previous': ['mean', 'max', 'min', 'sum'],
 'ins_premium': ['mean', 'max', 'min', 'sum'],
 'ins_losses': ['mean', 'max', 'min', 'sum'],
 'abbrev': ['mean', 'max', 'min', 'sum']}

- kolay yol;

In [42]:
new_dict = {col: agg_list for col in num_cols}

In [43]:
df[num_cols].head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63

In [44]:
df[num_cols].agg(new_dict)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
sum,805.300000,254.908000,249.226000,692.232000,714.249000,45234.840000,6859.150000