# Loops (Döngüler)
---
- İterasyon yapılabilen nesneler üzerinde gezinmeyi ve bu gezinmeler sonucunda yakalamış olacağımız her bir eleman üzerinden çeşitli işlemler yapma imkanı sağlar.
- **for** _donguDegiskeni_ **in** _dongununDahilOlacagiElemanlar_:
    - _statement_

In [1]:
students = ["John", "Mark", "Venessa", "Mariam"]

In [2]:
students[0]

'John'

In [3]:
students[1]

'Mark'

In [4]:
students[2]

'Venessa'

In [5]:
for student in students:
    print(student)

John
Mark
Venessa
Mariam

In [6]:
for student in students:
    print(student.upper())

JOHN
MARK
VENESSA
MARIAM

In [7]:
salaries = [1000, 2000, 3000, 4000, 5000]

In [8]:
for salary in salaries:
    print(salary)

1000
2000
3000
4000
5000

In [9]:
for salary in salaries:
    print(int(salary*20/100 + salary))

1200
2400
3600
4800
6000

In [10]:
for salary in salaries:
    print(int(salary*30/100 + salary))

1300
2600
3900
5200
6500

In [11]:
def new_salary(salary, rate):
    return int(salary * rate / 100 + salary)

In [12]:
new_salary(1500, 10)

1650

In [13]:
new_salary(2000, 20)

2400

In [14]:
for salary in salaries: # fonksiyonu her salary değerinde tekrar yazıp, zam yapmaktansa
    print(new_salary(salary, 20)) # for ile tek seferde fonksiyonu kullanıp çıktı alabiliyoruz.

1200
2400
3600
4800
6000

In [15]:
# eğer sadece belirli bir koşulu sağlayan verilere uygulamak istiyorsak if-else yapsını kullanabiliriz.

for salary in salaries:
    if salary >= 3000:
        print(new_salary(salary, 10))
    else:
        print(new_salary(salary, 20))

1200
2400
3300
4400
5500

## Uygulama - Mülakat
---
- **Amaç**; Aşağıdaki şekilde string değiştiren fonksiyon yazmak istiyoruz.
- **_before_**: "hi my name is john and i am learning python"
- **_after_**: "Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN"

In [16]:
range(len("miuul"))

range(0, 5)

In [17]:
for i in range(len("miuul")):
    print(i)

0
1
2
3
4

In [18]:
# 4 % 2 == 0
# m = "miuul"
# m[0]

In [19]:
def alternating(string):
    new_string = ""
    for string_index in range(len(string)): # girilen string ifadenin indexlerinde gez.
        if string_index % 2 == 0: # index çift ise büyük harfe çevir.
            new_string += string[string_index].upper()
        else: # inde tek ise küçük harfe çevir.
            new_string += string[string_index].lower()
    print(new_string)

In [20]:
alternating("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

## break & continue & while
---
- **break**; akışı keser ve döngüyü sonlandırır.
- **continue**; belirtilen _index değerini_ geçerek döngüye devam eder.
- **while**; belirtilen koşul sağlandığı sürece döngü devam eder.

In [21]:
salaries = [1000, 2000, 3000, 4000, 5000]

In [22]:
# break
for salary in salaries:
    if salary == 3000: # döngü 3000 de sonlanacak.
        break
    print(salary)

1000
2000

In [23]:
# continue
for salary in salaries:
    if salary == 3000: # 3000'i atlacak ve devam edecek.
        continue
    print(salary)

1000
2000
4000
5000

In [24]:
# while
number = 1
while number < 5: # koşul sağlanana kadar döngü devam edecek.
    print(number) # koşul sağlandığında duracak.
    number += 1

1
2
3
4

## Enumerate
---
- otomatik counter/indexer ile for loop

In [25]:
students = ["John", "Mark", "Venessa", "Mariam"]

In [26]:
for student in students:
    print(student)

John
Mark
Venessa
Mariam

In [27]:
for index, student in enumerate(students):
    print(index, student)

0 John
1 Mark
2 Venessa
3 Mariam

In [28]:
A = []
B = []

for index, student in enumerate(students):
    if index % 2 == 0:
        A.append(student)
    else:
        B.append(student)

In [29]:
print(A)

['John', 'Venessa']

In [30]:
print(B)

['Mark', 'Mariam']

## Uygulama - Mülakat 
---
- **divide_student** fonksiyonunu yazınız.
- _Çift index_'de yer alan _öğrencileri bir listeye_ ekleyin.
- _Tek index_'de yer alan _öğrencileri başka bir listeye_ ekleyin.
- **Fakat bu iki liste, tek bir liste olarak return olsun.**

In [31]:
students = ["John", "Mark", "Venessa", "Mariam"]

In [32]:
def divide_students(students):
    groups = [[], []]
    for index, student in enumerate(students):
        if index % 2 == 0:
            groups[0].append(student)
        else:
            groups[1].append(student)
    print(groups)
    return groups

In [33]:
st = divide_students(students)

[['John', 'Venessa'], ['Mark', 'Mariam']]

In [34]:
st[0]

['John', 'Venessa']

In [35]:
st[1]

['Mark', 'Mariam']

### Alternating fonksiyonunun enumerate ile yazılması;

In [36]:
def alternating_with_enumerate(string):
    new_string = ""
    for i, letter in enumerate(string):
        if i % 2 == 0:
            new_string += letter.upper()
        else:
            new_string += letter.lower()
    print(new_string)

In [38]:
alternating_with_enumerate("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

## Zip
---
- **zip** gruplama işlemi yapmaktadır.

In [39]:
students = ["John", "Mark", "Venessa", "Mariam"]
departments = ["mathematics", "statistics", "physics", "astronomy"]
ages = [23, 30, 26, 22]

In [40]:
list(zip(students, departments, ages))

[('John', 'mathematics', 23),
 ('Mark', 'statistics', 30),
 ('Venessa', 'physics', 26),
 ('Mariam', 'astronomy', 22)]

## lambda, map, filter, reduce
---
- **lambda**; satırlarca yazılan fonksiyonu, tek satırda yazmamızı sağlar.
- **map**; elinizdeki bir fonksiyona, elinizdeki bir datanın elemanlarını sırasıyla gönderir ve sonucu tek bir obje olarak geri döner.
- **reduce**; döngüye sokabileceğiniz herhangi bir veri tipi içinde, veri tipinin içindeki tüm elemanları azaltarak dolaşan ve karşılaştırma yapmaya imkan tanıyan bir yapıdır.

In [41]:
def sum_with_basicfunc(a, b):
    return a + b

In [42]:
sum_with_basicfunc(3, 5)

8

In [43]:
new_sum = lambda a, b: a + b

In [44]:
new_sum(4, 5)

9

In [45]:
# map

salaries = [1000, 2000, 3000, 4000, 5000]

In [46]:
def new_salary(x):
    return x * 20 / 100 + x

In [47]:
new_salary(1000)

1200.0

In [48]:
for salary in salaries:
    print(new_salary(salary))

1200.0
2400.0
3600.0
4800.0
6000.0

In [49]:
list(map(new_salary, salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [50]:
# del new_sum

list(map(lambda x: x * 20 / 100 + x, salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [51]:
list(map(lambda x: x ** 2, salaries))

[1000000, 4000000, 9000000, 16000000, 25000000]

In [52]:
# FILTER

list_store = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x: x % 2 == 0, list_store))

[2, 4, 6, 8, 10]

In [53]:
# REDUCE

from functools import reduce
list_store = [1, 2, 3, 4]
reduce(lambda a, b: a + b, list_store)

10